/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
}

.car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    background: #fff;
}

.car-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 5px solid #dd0000;
}

.car-info {
    padding: 20px;
    text-align: center;
}

.car-model {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.car-price {
    font-size: 1.5em;
    color: #e74c3c;
    margin-bottom: 20px;
}

.car-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #dd0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
}